<main class="main">

    <div class="admin-login">

        <div class="admin-login-head">
            <h1>Admin Login</h1>
        </div>
        <div class="main-admin-con">

        
            <form action="/admin/login" method="POST">
                <div class="admin-login-input">
                    
                    <input class="admin-login-input" type="email" name="email" placeholder="Email*" required autofocus>
                </div>
                <div class="admin-login-input">
                    <input class="admin-login-input" type="text" name="password" placeholder="Password*" required>
                </div>
                <div class="admin-login-btn-div">
                    <button class="admin-login-btn" type="submit">Login</button>
                </div>
            </form>
        </div>


    </div>
    


        
        
    </main>



    <script src="/Javascript/admin.js"></script>
