
    

    <main class="main">


        <div class="log-reg">

            <div class="log-page">
                <div class="upper-btns">
                    <div class="login-up-up-btn">
                        <h1 class="login-up-up">Log In</h1>
                    </div>
                    
                </div>
                <div class="log-in-user-value">
                   <div class="log-email-div">
                    <div class="log-email-logo">
                        <img width="25px" src="/photos/mail.png" alt="Email">
                        <h1 class="email-log-h1">Email*</h1>
                        
                    </div>
                    <input type="text" class="log-email-input" name="email" placeholder="user@gmail.com">
                    <h5 class="email-not-valid">incorrect email</h5>
                   </div>
                   <div class="log-password-div">
                    <div class="log-password-logo">
                        <img width="20px" height="24px" src="/photos/password.png" alt="" class="password">
                        <h1 class ="password-log-h1">Password*</h1>
                    </div>
                    <img width="26px" src="eye.png" alt="" class="log-pass-eye">
                    <img width="26px" src="hidden.png" class="log-pass-eye-hidden" alt="">
                    <input type="password" class="log-password-input" name="password" placeholder="Password">
                   </div>
                   <div class="log-submit">
                    <button name="log-submit" class="log-submit-btn"  type="button">Submit</button>
                   </div>
                </div>


 


            </div>
           
        </div>
        
    </main>



    <script src="/Javascript/admin.js"></script>
