<div class="alladmin">
    <div class="alladmin-rel">
        <div class="admin-dashboard">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="admin-dashboard-cards">

            <a href="/admin/post" class="resume-admin-main">
                <div class="admin-cards">
                <img width="400px" src="/photos/admin-job.jpg" alt="" class="jobs-img">
                
                <h1  class="jobs-posting-h1">Posting</h1>
                </div>
            </a>
            <a href="/admin/posted" class="resume-admin-main">
                <div class="admin-cards">
                <img width="400px" src="/photos/admin-job-posted.avif" alt="" class="jobs-img">
                <h1 style="color: rgb(23, 23, 134);"  class="jobs-posting-h1 jobs">Jobs</h1>
           
                </div>
            </a>

            <a class="resume-admin-main" href="/admin/cv">
                <div  class="admin-cards">
                    <img width="400px"  src="/photos/resume-main-admin.avif" alt="" class="jobs-img jobs-resumes-img">
                    <h1 style="color: rgb(29, 29, 29);"  class="jobs-posting-h1 job-res-main-admin">Resumes</h1>
           
                </div>
            </a>
            <a class="resume-admin-main" href="/admin/user/review">
                <div  class="admin-cards">
                    <img width="400px" height="266px"  src="/photos/main-admin-rev-pic.png" alt="" class="jobs-img">
                    <h1 style="color: grey;" class="jobs-posting-h1 job-rev-main-admin">Reviews</h1>
           
                </div>
            </a>
            <a class="resume-admin-main" href="/admin/user">
                <div  class="admin-cards">
                    <img width="400px" height="266px"  src="/photos/main-user-img.avif" alt="" class="jobs-img">    
                    <h1 style="color: rgb(24, 20, 20);" class="jobs-posting-h1 job-user-main-admin">User</h1>
           
                </div>
            </a>
            <a class="resume-admin-main" href="/admin/blogs">
                <div  class="admin-cards">
                    <img width="400px" height="266px"  src="/photos/blog-img.jpg" alt="" class="jobs-img">    
                    <h1 style="color: rgb(24, 20, 20);" class="jobs-posting-h1 job-user-main-admin">Blogs</h1>
           
                </div>
            </a>
            <a class="resume-admin-main" href="/admin/blogs/post">
                <div  class="admin-cards">
                    <img width="400px" height="266px"  src="/photos/blog-img.jpg" alt="" class="jobs-img">    
                    <h1 style="color: rgb(24, 20, 20);" class="jobs-posting-h1 job-user-main-admin">Post Blogs</h1>
           
                </div>
            </a>



        </div>
        <div style=" display: flex; justify-content: center; align-items: center; margin-top: 40px;" class="admin-logout-div">
            <a style="text-decoration: none; color: black; font-size: 30px; background-color:red; border-radius: 10px; padding: 10px; font-weight: 900; " href="/admin/logout">Logout</a>
        </div>
    </div>
    
</div>