<main class="user-details">
    <div class="table-user">
        <table class="user-table">
        <tr class="head-users">
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <% user.forEach((element) => { %>
         
        
        <tr class="down-users">
            <td id="name-user-admin-table"><%= element.username %></td>
            <td><%= element.email %> %></td>
            <td>
                <form action="/admin/user/delete/<%= element._id %>?_method=DELETE" method="POST">
                <button class="user-delete-btn" type="submit">Delete</button></form>
            </td>
        </tr><% }) %>

        
    </table> 
    </div>
   
</main>