<main class="user-details">
    <div class="table-user">
        <table class="user-table">
        <tr class="head-users">
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr class="down-users">
            <td>saksham Garg</td>
            <td>gargsaksham18@gmail.com</td>
            <td>
                <button class="user-delete-btn" type="submit">Delete</button>
            </td>
        </tr>

        <tr class="down-users">
            <td>saksham Garg</td>
            <td>gargsaksham18@gmail.com</td>
            <td>
                <button class="user-delete-btn" type="submit">Delete</button>
            </td>
        </tr>
    </table> 
    </div>
   
</main>