<footer>
    <div class="footer-container">
        <div class="footer-row">
            
                <p>&copy; 2025 <a href="" target="_blank">Aaideology</a> - All Rights Reserved</p>
            
        </div>
    </div>
</footer>