<header>
    <link rel="stylesheet" href="/CSS/style.css"> <!-- Link to CSS file -->
    <script src="/Javascript/main.js"></script> <!-- Link to JavaScript file -->
    <img src="/photos/hamburger.svg" alt="More Options" class="hamburger">

    <div class="side">
        <div class="side-1">
            <div class="cross-div"><img class="cross" src="/photos/cross.svg" alt="close">
        </div>
        
        <ul class="side-links">
            <li><a class="red-link-top" href="/Services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin/login">Admin</a></li>
        </ul>
        </div>
       
        <div class="my-acc">
            <a href="/user/profile/"><img class="side-user" src="/photos/user.svg" alt="My Account"></a>
           <a href=""><h2>My Account</h2></a> 
        </div>
    </div>
    <a href="/" class="logo-link"> <img class="logo-img" src="/photos/logo.png" alt="Aadiology"></a>
   
<div class="nav">
    <ul class="nav-links">
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
    

    
</div>
    <div class="in-up-div">
        <% if (user) { %>
            <!-- Code to be executed if the condition is true -->
            <li class="user-li"><a href="/user/profile/"><img class="user-ico" src="/<%= user.profilePicFile %>" alt="My Account"></a></li>
        <% } else { %>
            <!-- Code to be executed if the condition is false -->

            <a href="/user/login" class="login-link-header in-header">Sign in</a>
            <a href="/user/register" class="login-link-header up-header">Sign Up</a>
        <% } %>    
    </div>
</header>
