<main class="main-site-main">
  <div class="main-site-ab">
    <div class="main-site-top">
      <div class="main-site-top-img">
        <img class="main-img" src="/photos/main-top.jpg" alt="" />
      </div>
      <div class="main-site-top-text">
        <h1>Simplify Your Hiring Process</h1>
        <h4>Aaideology: The Perfect Source.</h4>
        <a href="/services" class="main-site-link"
          >Find Opportunity
          <img
            class="arrow-btn"
            width="24px"
            src="/photos/right-arrow.svg"
            alt=""
        /></a>
      </div>
    </div>

    <div class="main-center-site">
      <div class="main-center-top-container">
        <div class="main-center-top-img-rel">
          <div class="main-center-top-red-box-ab"></div>
          <div class="main-center-top-img-ab-div">
            <img
              class="main-center-top-img-ab"
              src="/photos/search-main.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="main-center-top-text-div-1">
          <div class="main-center-top-text-div-2">
            <h2>Your search ends here</h2>
            <p>
              <span class="tried"><b>Tired</b></span> of endless job boards?
              Aaideology offers a focused and efficient platform for both job
              seekers and employers. Discover quality connections and take the
              next step in your career journey with us.
            </p>
          </div>
        </div>
      </div>

      <div class="main-site-reviews">
            <h2 class="reviews-head">What Our Clients Say ??</h2>
            <div class="main-site-reviews-container">
            <div class="main-site-reviews-container-con">
                <% reviews.forEach(function(element) { %>
                <div class="main-site-reviews-cards">
                <h2><%= element.name %></h2>

                <h3>Stars Given: <span class="stars-given"><%= element.rating %></span></h3>
                <p>
                 <%= element.comment %>
                </p>
                </div>
                <% }) %>
            </div>
            </div>
      </div>
    </div>
  </div>
</main>
