<main class="main-site-main">
    <div class="main-site-ab">
        <div class="main-site-top">
            <div class="main-site-top-img">
                <!-- <img class="main-img" src="/photos/main-top.jpg" alt="" /> -->
                 <video class="main-img" height="100vh" width="100vw" autoplay  muted>
                    <source src="/photos/main-page-vidd.mp4">
                 </video>
            </div>
            <div class="main-site-top-text">
                <h1>Simplify Your Hiring Process</h1>
                <h4>Aaideology: The Perfect Source.</h4>
                <a href="/services" class="main-site-link">Find Opportunity
                <img class="arrow-btn" width="24px" src="/photos/right-arrow.svg" alt="" /></a>
            </div>
        </div>

        <div class="main-center-site">
            <div class="main-center-top-container">
                <div class="main-center-top-img-rel">
                    <div class="main-center-top-red-box-ab"></div>
                    <div class="main-center-top-img-ab-div">
                        <img class="main-center-top-img-ab" src="/photos/search-main.jpg" alt="" />
                    </div>
                </div>
                <div class="main-center-top-text-div-1">
                    <div class="main-center-top-text-div-2">
                        <h2>Your search ends here</h2>
                        <p>
                            <span class="tried"><b>Tired</b></span> of endless job boards?
                            Aaideology offers a focused and efficient platform for both job
                            seekers and employers. Discover quality connections and take the
                            next step in your career journey with us.
                        </p>
                    </div>
                </div>
            </div>
                <hr>    
            <div class="industries-div">
                <h2 class="industries-head">The company operates across several industries</h2>
                <div class="industries-container">
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/marketing.jpg" alt="">
                        <h3 class="firm-name">Marketing Industry</h3>
                    </div>
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/education.jpg" alt="">
                        <h3 class="firm-name">Education Firms</h3>
                    </div>
                    
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/it-firms.jpg" alt="">
                        <h3 class="firm-name">IT Firms</h3>
                    </div>
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/FMCG-FIRMS.jpg" alt="">
                        <h3 class="firm-name">FMCG Firms</h3>
                    </div>
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/logistic.jpg" alt="">
                        <h3 class="firm-name">logistic Industry</h3>
                    </div>
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/automobile.jpg" alt="">
                        <h3 class="firm-name">Automobile Industry</h3>
                    </div>
                    <div class="firm-card">
                        <img class="firm-img" height="100px" width="120px" src="/photos/internation-based-kpo.jpg" alt="">
                        <h3 class="firm-name">INTERNATIONAL BPO</h3>
                    </div>
                    
                </div>
            </div>
            <hr>

            <div class="why-with-us">
                <h2 class="why-head">Why Hire With Us</h2>
                <div class="why-with-us-container">
                    <p class="why-with-us-text" id="why-text"><span class="why-with-us-text-span">The perfect source – </span>We provide you the ideal candidates for your vacancies.</p>
                    <p class="why-with-us-text">Whenever we place a candidate, our focus is long-term to ensure stability and efficiency in your workforce.</p>
                    
                </div>
            </div>
            <hr>
            <div class="why-choose-us">
                <h2 class="why-head">Why Choose Us</h2>
                <div class="why-choose-us-container">
                    <p class="why-choose-us-text">We make sure to conduct extensive research on the companies we align you with.</p>
                    <p class="why-choose-us-text">Your career matters to us, and so does our market reputation.</p>
                </div>
            </div>
            <hr>
            <div class="how-we-work">
                <h2 class="how-head">How We Work</h2>
                <div class="how-we-work-container">
                    <p class="how-we-work-text">How Do We Work?</p>
                    <div class="how-do-we-work">
                        <ul>
                            <li class="how-do-we-work-li upli"><p class="how-do-we-work-p">Demand</p></li>
                            <li class="how-do-we-work-li"><p class="how-do-we-work-p">Vacancy</p></li>
                            <li class="how-do-we-work-li"><p class="how-do-we-work-p">Availability</p></li>
                        </ul>    
                    </div>
                    <p class="job-description-text">Job Description</p>
                    <div class="job-description-main">
                        <li class="key-factors">Key Factors:</li>
                        <ul class="job-ul">
                            <li class="job-li">Location – Ensuring candidates are comfortable with the location.</li>
                            <li class="job-li">Salary Range – Setting clear expectations with candidates.</li>
                            <li class="job-li">Experience – Matching skills with the job demand.</li>
                        </ul>
                    </div>
                    <div class="skill">
                        <p class="skill-text">Skill Matching & Culture Fit</p>
                        <p class="skill-text-2">We align candidate skills, experience, and values with company culture for long-term success.

                        </p>
                    </div>
                </div>

            </div>
            <hr>
            <div class="why-aaideology">
                <div class="why-aadi-inner">
                    <h2 class="why-head aadi">Why Choose Aaideology?</h2>
                    <div class="why-aaid-ul-div">
                        <ul class="why-aadi-ul">
                            <li><span class="aadi-li">1️⃣ Smart Hiring:</span> We help companies find the right talent efficiently.</li>
                            <li><span class="aadi-li">2️⃣ Saves Time & Resources:</span> Streamlined recruitment to reduce hiring time.</li>
                            <li><span class="aadi-li">3️⃣ Improves Team Quality:</span> Finding candidates who align with your goals.</li>
                            <li><span class="aadi-li">4️⃣ Reduces Turnover:</span> Matching the right candidate the first time.</li>
                            <li><span class="aadi-li">5️⃣ Enhances Employer Branding:</span> A smooth hiring experience builds a great reputation.</li>
                            
                        </ul> 
                    </div>
                    <div class="oppo-btn">
                        <a href="/services" class="oppo-btn-link">Get Opportunity</a>
                    </div>
                   
                </div>
                
                
            </div>
            <div class="main-site-reviews">
                <h2 class="reviews-head">What Our Clients Say ??</h2>
                <div class="main-site-reviews-container">
                    <div class="main-site-reviews-container-con">
                        <% reviews.forEach(function(element) { %>
                            <div class="main-site-reviews-cards">
                                <h2>
                                    <%= element.name %>
                                </h2>

                                <h3>Stars Given: <span class="stars-given">
                                        <%= element.rating %>
                                    </span></h3>
                                <p>
                                    <%= element.comment %>
                                </p>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>