<main style="height: 100vh; position: relative;" class="about">
    <div style="position: absolute;" class="about-abso">
        <div class="about-main">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis vel nunc porttitor auctor sed vitae odio. Donec id condimentum neque. Donec euismod, enim non ullamcorper lobortis, metus nisi consectetur tortor, at consectetur risus nisi at velit. Sed lobortis, sapien sit amet ullamcorper consectetur, ipsum est consectetur neque, vel consectetur lectus nisi non enim. Integer vel metus ac arcu ultricies ultricies non vel dui. Nulla facilisi. Nullam pulvinar, felis sed condimentum consectetur, mauris mi fermentum velit, id consectetur dolor nunc in nunc.</p>
        </div>
    </div>
</main>