<main style="height: 100vh; position: relative;" class="about">
    <div style="position: absolute;" class="about-abso">
        <div class="about-main">
            <h1>About Us</h1>
            <p>More than just a hiring platform, Aaideology is built on a foundation of genuine dedication. We understand that finding the right job or the perfect candidate is a significant step, and we approach our work with the seriousness and care it deserves.  We're not just connecting resumes to job descriptions; we're invested in fostering successful partnerships and building careers. You can count on us to be your steadfast resource, guiding you through every stage of the process with unwavering commitment.</p>
        </div>
    </div>
</main>